@model IEnumerable<Object>

@{
    ViewData["Title"] = "Manage Tracking Information Detail";
       List<HopePipeline.Models.referralBrandi> lstreferral = Model.ToList()[0] as List<HopePipeline.Models.referralBrandi>;
    List<HopePipeline.Models.trackingReferral> lsttracking = Model.ToList()[1] as List<HopePipeline.Models.trackingReferral>;
}
    <head>
        <style>

            table {
                width: auto;
            }

            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                
            }

            th, td {
                padding: 11px;
                text-align: right;
            }

            table#t01 tr:nth-child(even) {
                background-color: #e6f3ff;
            }

            table#t01 tr:nth-child(odd) {
                background-color: #fff;
            }

            table#t01 th {
                background-color: #005199;
                color: white;
            }
td:first-child {
  font-weight: bold
}
        </style>
    </head>
<h2>Detail of Client Tracking Information</h2>

<div>
    <h4>Detail</h4>
    <hr />
    <table id="t01">
     
        @foreach (var item in lsttracking)
        {
            <tr>
                <td>
                    Client Code:
                </td>

                <td style="text-align:left">
                    @item.clientCode
                </td>
            </tr>
        }
        @foreach (var item in lstreferral)
        {
            <tr>
                <td>
                    First Name:
                </td>

                <td style="text-align:left">
                    @item.fName
                </td>
            </tr>
            <tr>
                <td>
                    Last Name:
                </td>

                <td style="text-align:left">
                    @item.lName
                </td>
            </tr>
            <tr>
                <td>
                    Guardian Name:
                </td>

                <td style="text-align:left">
                    @item.guardianName
                </td>
            </tr>
            <tr>
                <td>
                    Guardian's Relationship to Youth:
                </td>

                <td style="text-align:left">
                    @item.guardianRelationship
                </td>
            </tr>
            <tr>
                <td>
                    Date of Birth:
                </td>

                <td style="text-align:left">
                    @item.dOB
                </td>
            </tr>
            <tr>
                <td>
                    School:
                </td>

                <td style="text-align:left">
                    @item.currentSchool
                </td>
            </tr>
            <tr>
                <td>
                    Referral Date:
                </td>

                <td style="text-align:left">
                    @item.dateInput
                </td>
            </tr>

        }
        @foreach (var item in lsttracking)
        {
            <tr>
                <td>
                    Gender Identity:
                </td>

                <td style="text-align:left">
                    @item.genderId
                </td>
            </tr>
            <tr>
                <td>
                    Ethnicity:
                </td>
                <td style="text-align:left">
                    @item.ethnicity
                </td>
            </tr>
            <tr>
                <td>
                    School:
                </td>
                <td style="text-align:left">
                    @item.school
                </td>
            </tr>
            <tr>
                <td>
                    Grade Level:
                </td>
                <td style="text-align:left">
                    @item.gradeLevel
                </td>
            </tr>
            <tr>
                <td>
                    Referral Source:
                </td>
                <td style="text-align:left">
                    @item.referralSource
                </td>
            </tr>
            <tr>
                <td>
                    Did they Fail a Grade?
                </td>
                <td style="text-align:left">
                    @item.failedGrade
                </td>
            </tr>
            <tr>
                <td>
                    How many times have they Failed a Grade:
                </td>
                <td style="text-align:left">
                    @item.fGTimes
                </td>
            </tr>
            <tr>
                <td>
                    Have they been Baker Acted:
                </td>
                <td style="text-align:left">
                    @item.bakerAct
                </td>
            </tr>
            <tr>
                <td>
                    Are they in a Female led Household:
                </td>
                <td style="text-align:left">
                    @item.femaleLed
                </td>
            </tr>
            <tr>
                <td>
                    If, No why is the household not considered Female led:
                </td>
                <td style="text-align:left">
                    @item.flNoWhy
                </td>
            </tr>
            <tr>
                <td>
                    Domestic Violence History:
                </td>
                <td style="text-align:left">
                    @item.domesticVHX
                </td>
            </tr>
            <tr>
                <td>
                    Incarcerated Parent:
                </td>
                <td style="text-align:left">
                    @item.incarceratedParent
                </td>
            </tr>
            <tr>
                <td>
                    Which Parent is Incarcerated:
                </td>
                <td style="text-align:left">
                    @item.iPIfYesWho
                </td>
            </tr>
            <tr>
                <td>
                    Do they have asthma:
                </td>
                <td style="text-align:left">
                    @item.asthma
                </td>
            </tr>
            <tr>
                <td>
                    Level of Svc/Type of Representation:
                </td>
                <td style="text-align:left">
                    @item.typeOfRep
                </td>
            </tr>
            <tr>
                <td>
                    Intake Date:
                </td>
                <td style="text-align:left">
                    @item.intakeDate
                </td>
            </tr>
            <tr>
                <td>
                    Reason for nonengagement:
                </td>
                <td style="text-align:left">
                    @item.nonengageReason
                </td>
            </tr>
            <tr>
                <td>
                    Open/Close Statue:
                </td>
                <td style="text-align:left">
                    @item.statusTrack
                </td>
            </tr>
            <tr>
                <td>
                    Legal Advocacy Taken:
                </td>
                <td style="text-align:left">
                    @item.advocacyTaken
                </td>
            </tr>
            <tr>
                <td>
                    Remedy/Resolution:
                </td>
                <td style="text-align:left">
                    @item.resolution
                </td>
            </tr>
            <tr>
                <td>
                    Re-arrest while represented?
                </td>
                <td style="text-align:left">
                    @item.rearrestRepresented
                </td>
            </tr>
            <tr>
                <td>
                    School at time of closure:
                </td>
                <td style="text-align:left">
                    @item.schoolAtClosure
                </td>
            </tr>
            <tr>
                <td>
                    Referral 1:
                </td>
                <td style="text-align:left">
                    @item.referral1
                </td>
            </tr>
            <tr>
                <td>
                    Referral 2:
                </td>
                <td style="text-align:left">
                    @item.referral2
                </td>
            </tr>
            <tr>
                <td>
                    Referral 3:
                </td>
                <td style="text-align:left">
                    @item.referral3
                </td>
            </tr>
            <tr>
                <td>
                    Referral 4:
                </td>
                <td style="text-align:left">
                    @item.referral4
                </td>
            </tr>
            <tr>
                <td>
                    Referral 5:
                </td>
                <td style="text-align:left">
                    @item.referral5
                </td>
            </tr>
            <tr>
                <td>
                    Re-arrested during advocacy:
                </td>
                <td style="text-align:left">
                    @item.rearrestAdvocacy
                </td>
            </tr>
            <tr>
                <td>
                    (Re-arrested)Advocacy at court?
                </td>
                <td style="text-align:left">
                    @item.advocacyAtCourt
                </td>
            </tr>
            <tr>
                <td>
                    ( Re-arrested) Advocacy at staffing:
                </td>
                <td style="text-align:left">
                    @item.advocacyAtStaffing
                </td>
            </tr>
            <tr>
                <td>
                    Has an IEP/504:
                </td>
                <td style="text-align:left">
                    @item.hasIEP504
                </td>
            </tr>
            <tr>
                <td>
                    Which IEP or 504's:
                </td>
                <td style="text-align:left">
                    @item.which
                </td>
            </tr>
            <tr>
                <td>
                    Current Reading Level:
                </td>
                <td style="text-align:left">
                    @item.readLevel
                </td>
            </tr>
            <tr>
                <td>
                    Current Math Level:
                </td>
                <td style="text-align:left">
                    @item.mathLevel
                </td>
            </tr>
            <tr>
                <td>
                    Current IEP Services:
                </td>
                <td style="text-align:left">
                    @item.iepServices
                </td>
            </tr>
            <tr>
                <td>
                    In Pride?
                </td>
                <td style="text-align:left">
                    @item.inPride
                </td>
            </tr>
            <tr>
                <td>
                    New FBA?
                </td>
                <td style="text-align:left">
                    @item.newFBA
                </td>
            </tr>
            <tr>
                <td>
                    Additional IEP Services Gained:
                </td>
                <td style="text-align:left">
                    @item.addIEPGained
                </td>
            </tr>
            <tr>
                <td>
                    Atditional Accommodations Gained:
                </td>
                <td style="text-align:left">
                    @item.addAcommodGain
                </td>
            </tr>
            <tr>
                <td>
                    Any atditional comp?
                </td>
                <td style="text-align:left">
                    @item.addComp
                </td>
            </tr>
            <tr>
                <td>
                    How much addittional comp:
                </td>
                <td style="text-align:left">
                    @item.howMuchComp
                </td>
            </tr>
            <tr>
                <td>
                    Bullied:
                </td>
                <td style="text-align:left">
                    @item.bullied
                </td>
            </tr>
            <tr>
                <td>
                    Was Bullying Reported:
                </td>
                <td style="text-align:left">
                    @item.bulliedReport
                </td>
            </tr>
            <tr>
                <td>
                    Bullying Report Date:
                </td>


                <td style="text-align:left">
                    @item.bulliedDate
                </td>
            </tr>
            <tr>
                <td>
                    Suspended more than 2 times:
                </td>
                <td style="text-align:left">
                    @item.suspendMoreTwo
                </td>
            </tr>
            <tr>
                <td>
                    Suspended more than 2 times, how many:
                </td>
                <td style="text-align:left">
                    @item.suspendHowMany
                </td>
            </tr>
            <tr>
                <td>
                    In an Alternative School:
                </td>
                <td style="text-align:left">
                    @item.altSchool
                </td>
            </tr>
            <tr>
                <td>
                    What Alternative School:
                </td>
                <td style="text-align:left">
                    @item.whatAlt
                </td>
            </tr>
            <tr>
                <td>
                    When was youth in the Alternative School:
                </td>
                <td style="text-align:left">
                    @item.when
                </td>
            </tr>
            <tr>
                <td>
                    How many times was youth in Alt School:
                </td>
                <td style="text-align:left">
                    @item.howManyTimes
                </td>
            </tr>
            <tr>
                <td>
                    How many Days owed:
                </td>
                <td style="text-align:left">
                    @item.daysOwed
                </td>
            </tr>
            <tr>
                <td>
                    Other legal issues:
                </td>
                <td style="text-align:left">
                    @item.otherIssues
                </td>
            </tr>
            <tr>
                <td>
                    Total Days of ISS/OSS:
                </td>
                <td style="text-align:left">
                    @item.totalDayISSOSS
                </td>
            </tr>
            <tr>
                <td>
                    Total Days of Discipline:
                </td>
                <td style="text-align:left">
                    @item.totalDaysDiscip
                </td>
            </tr>
            <tr>
                <td>
                    Total Days of Discipline since Intake:
                </td>
                <td style="text-align:left">
                    @item.totalDiscipSinceIntake
                </td>
            </tr>
            <tr>
                <td>
                    Total OSS since Intake:
                </td>
                <td style="text-align:left">
                    @item.totalOSSSinceIntake
                </td>
            </tr>
            <tr>
                <td>
                    JJ Outcome:
                </td>
                <td style="text-align:left">
                    @item.jJOutcome
                </td>
            </tr>
        }
    </table>
</div>
<div>
    <a asp-action="IndexA" asp-controller="b">Back to List</a>
</div>
