@model IEnumerable<HopePipeline.Models.referralBrandi>
@{
    ViewData["Title"] = "viewBrandiR";
}

<h2>View For Referrals</h2>



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            First Name
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fName)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", "b", new { pK = item.pK }) |
                @Html.ActionLink("Details", "Details", "b", new { pK = item.pK }) |
                @Html.ActionLink("Delete", "Delete", "b", new { pK = item.pK }) |
                <!-- Delete and done by David-->

                @Html.ActionLink("Contact Info", "contactInfoBrandi", "b", new { pK = item.pK }) |

              
                @Html.ActionLink("Details", "detailBrandi", "b", new { pK = item.pK })|

                @Html.ActionLink("Meeting Notes", "ContactInfo", "b", new { pK = item.pK })
            </td>
        </tr>
    }

</table>
