@model HopePipeline.Models.Report;
@{
    ViewData["Title"] = "GenerateReports";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2 id="hey">Generate Reports</h2>
<div class="box">
    <form asp-controller="Report" asp-action="ViewReports" asp-model="" method="post">
        <select name="demoField1" asp-for="demoField1" onchange="changeDemo1(this.value);">
            <option value="none" selected>--Please pick an option--</option>
            @{
                foreach (var property in ViewData.ModelMetadata.Properties)
                {
                    <option value="@property.PropertyName">@property.PropertyName</option>
                }
            }
        </select>
        <select id="demoField1relation" name="demoField1relation">
            <option value="none" selected>--Please pick an option</option>
            @{
                foreach (var property in ViewData.ModelMetadata.Properties)
                {
                    <option value="@property.PropertyName">@property.PropertyName</option>
                }
            }
        </select>
        <br />
        <select name="demoField2">
            <option value="none" selected>--Please pick an option--</option>
            @{
                foreach (var property in ViewData.ModelMetadata.Properties)
                {
                    <option value="@property.PropertyName">@property.PropertyName</option>
                }
            }
        </select>
        <select name="demoField2relation">
            <option value="none" selected>--Please pick an option--</option>
            <option value="one">These fields will</option>
            <option value="two">be populated based</option>
            <option value="three">on the previous field</option>
        </select>
        <br />
        <select name="otherField">
            <option value="none" selected>--PLease pick an option--</option>
            @{
                foreach (var property in ViewData.ModelMetadata.Properties)
                {
                    <option value="@property.PropertyName">@property.PropertyName</option>
                }
            }
        </select>
        <button type="submit">Submit</button>
    </form>
</div>


<a asp-controller="Report" asp-action="ExportDb">Click here to export to Excel</a>

